<script src="../store/index.js"></script>
<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 bg-gracias">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
            <div class="col-12 p-0">
              <div class="txtVist">
                <div>
                  <p id="idGracias">
                    <b>Seguro de Auto GNP</b>
                  </p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-8 m-auto my-auto bg-white rounded text-center py-3">
                <!-- <h2 class="txtgracias">Hola <strong>{{$store.state.formData.nombre}}</strong>,</h2> -->
                <h3 class="txtgracias">¡Hola <strong>{{$store.state.formData.nombre}}!</strong>, encontramos el mejor precio del seguro de tu auto</h3>
                  <div class="mt-2 col-md-10 m-auto p-0 m-0">
                    <h3 class="dauto txtgracias" style="overflow:hidden;width:100%">{{$store.state.formData.marca}}  {{$store.state.formData.modelo}} {{$store.state.formData.descripcion}} {{$store.state.formData.detalle}} </h3>
                  </div>
               </div>
            </div>

            <div
              class="col-12"
              v-if="
                !$store.state.cargandocotizacion &&
                  !$store.state.msjEje &&
                  !$store.state.msj
              "
            >
              <loader />
            </div>

            <div
              class="col-12 col-md-10 mx-auto bg-white rounded px-xl-5 px-1 mt-3"
              v-if="
                $store.state.cargandocotizacion &&
                  !$store.state.msjEje &&
                  !$store.state.msj
              "
            >
              <datosTabla />
            </div>
            <!-- RESPUESTA -->
            <div
              class="col-xl-8 offset-xl-2 col-12 p-xl-0"
              v-if="$store.state.msjEje"
            >
              <div class="msj">
                <!-- NOMBRE -->
                <p>
                  <b
                    v-if="
                      $store.state.ejecutivo.nombre == '' ||
                        $store.state.ejecutivo.nombre == undefined
                    "
                    >Un Ejecutivo</b
                  >
                  <b v-else>{{ $store.state.ejecutivo.nombre }}</b>
                  se pondrá en contacto contigo para brindarte toda la
                  información necesaria o bien puedes llamar al
                  <B>55{{ $store.state.config.telefonoAS }}</B>
                </p>
                <!-- TELEFONO -->
                <a
                  :href="'tel:55' + $store.state.config.telefonoAS"
                  class="btn"
                >
                  Llamar Ahora&nbsp;
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
              <div class=" d-none mt-1 d-md-block">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
            </div>
            <!-- SIN RESPUESTA -->
            <div
              class="col-xl-8 offset-xl-2 col-12 p-xl-0"
              v-if="$store.state.msj"
            >
              <div class="msj">
                <!-- NOMBRE -->
                <p>
                  <span
                    >Tenemos increíbles descuentos, por favor ponte en contacto
                    con nosotros para recibir más información</span
                  >
                </p>
                <!-- TELEFONO -->
                <a
                  :href="'tel:55' + $store.state.config.telefonoAS"
                  class="btn"
                >
                  Llamar Ahorra
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 px-xl-5 px-1"
          v-if="
            $store.state.cargandocotizacion &&
              !$store.state.msjEje &&
              !$store.state.msj
          "
        >
          <!-- <datosTabla /> -->
          <tabla />
        </div>
      </div>
    </div>
    <logica-component/>
  </div>
</template>
<script>
import tabla from "~/components/utilities/tabla.vue";
import datosTabla from "~/components/utilities/datosTabla.vue";
import loader from "~/components/utilities/loading.vue";
import logicaComponent from "~/components/common/logica.vue"
export default {
  layout: "thanks",

  components: {
    tabla,
    datosTabla,
    loader,
    logicaComponent
  },
  head() {
    return {
      title: "GNP Seguros - GNP - Mejor Seguro de Auto GNP",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "GNP, GNP Seguros, Seguros GNP, seguros de autos GNP, GNP Seguros Autos, GNP Seguros México, Seguros GNP Autos, Cotiza Seguros de Autos GNP",
        },
        {
          hid: "description",
          name: "description",
          content:
            "GNP Seguros: El Mejor Seguro de Auto te ofrece la mejor opción para contratar Seguros GNP. Cotiza fácil y rápido obteniendo las mejores coberturas y precios de Seguros de autos GNP",
        },
        { hid: "robots", name: "robots", content: "noindex, nofollow" },
        {
          hid: "author",
          name: "author",
          content: "gnpsegurosautos.com",
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://gnpsegurosautos.com/bing/thank-you/",
        },
      ],
    };
  },
};
</script>
