<template>
  <div class="px-xl-4">
    <div class="navbar dinero mt-4 px-lg-5">
      <!-- COMPRA POR TELEFONO -->
      <div v-if="this.$store.state.config.interaccion" class="d-block order-2 order-md-1 mx-auto mx-sm-0 position-relative">
      <br>
      <div id="tooltip_example">
        <small class="mb-0 text-white">Un ejecutivo se pondrá en contacto contigo.</small>
      </div>
        <img
          src="/img/gnp-logo.png"
          class="d-none d-sm-flex mt-2 mb-3"
          style="width: auto; margin: auto; height: 96px; margin: auto"
        />
        <br />

        <img
          id="btnTrackingTelefono"
          src="/img/btn_telefono.svg"
          height="75"
          width="305"
          alt="compra-tel"
          v-on:click="show = !show"
          @click="saveInteraccion()"
          v-bind:class="{
            disabled: this.$store.state.config.btnEmisionDisabled,
          }"
          :disabled="this.$store.state.config.btnEmisionDisabled"
          class="btn img-fluid"
          target="_blank"
          rel="nofollow"
          role="button"
        />
      </div>

      <!-- BTN COMPRA EN LINEA -->
      <div
        v-if="this.$store.state.config.emision"
        class="d-block order-1 order-md-2 mx-auto mx-sm-0"
      ><img
          src="/img/gnp-logo.png"
          class="d-block d-sm-none mt-2 mb-3"
          style="width: auto; margin: auto; height: 96px; margin: auto"
        />
        <br />
        <div class="text-center price">
          <p v-if="$store.state.formData.precio != 0 ||$store.state.formData.precio != ''">
            <!-- Precio de tu seguro <br /> -->
            <small>COBERTURA {{this.$store.state.cotizacion.paquete}}</small> <br />
              <span style="font-size: 12px; font-weight: 800">PRECIO EXCLUSIVO EN LÍNEA</span>
            
          </p>
          <span
            v-if="
              $store.state.formData.precio != 0 ||
              $store.state.formData.precio != ''
            "
            >{{ $store.state.formData.precio | currency }}</span
          >
        </div>
        <br />
        <img
          id="btnTrackingEcommerce"
          src="/img/btn_linea.svg"
          height="75"
          width="305"
          alt="compra-linea"
          class="btn img-fluid"
          target="_blank"
          rel="nofollow"
          role="button"
          @click="conectarEmision()"
          v-bind:class="{
            disabled: this.$store.state.config.btnEmisionDisabled,
          }"
          :disabled="this.$store.state.config.btnEmisionDisabled"
        />
      </div>
    </div>

    <div class="rest">
      <!-- TABLA -->
     
      <p v-if="$store.state.formData.precio != 0 ||$store.state.formData.precio != ''" style="color:#002d74;background:#fff;border:none;">
        COBERTURA {{this.$store.state.cotizacion.paquete}}
      </p>
    </div>
  </div>
</template>
<script>
import SaveLead from "~/plugins/saveTrigarante";

const saveLead = new SaveLead();
const tokenData = process.env.tokenData;
const motorCobro = process.env.motorCobro;
const sitio = process.env.sitio;

export default {
  data: function () {
    return { show: false };
  },
  methods: {
    conectarEmision() {
      if (!this.$store.state.config.habilitarBtnEmision) {
        this.$store.state.config.btnEmisionDisabled = true;
        var jsonEcomerseEmision = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid: false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionEcommerce,
          idEstadoCotizacion: 6, //segun Fredo
          idTipoContacto: 6, //segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        saveLead
          .saveLeadEmision(
            JSON.stringify(jsonEcomerseEmision),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            resp = resp.data.data;

            /*Se valida que la respuesta no contenga ceros en los ID's*/
            if (
              resp.idSolicitudes != 0 &&
              resp.idCotizacionesAli != 0 &&
              resp.idCotizaciones != 0 &&
              resp.idProductoSolicitud != 0 &&
              resp.idProspecto != 0 &&
              this.$store.state.formData.precio > 1000
            ) {
              //Conexion a motor de pago online
              let peticion =
                resp.idSolicitudes +
                "|" +
                resp.idCotizacionesAli +
                "|" +
                resp.idCotizaciones +
                "|" +
                resp.idProductoSolicitud +
                "|" +
                resp.idProspecto +
                "|" +
                sitio;
              let x = Buffer.from(JSON.stringify(peticion)).toString("base64");
              x = x.replace('"', "");
              window.open(motorCobro + "?id=" + x, "_blank");
            }
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.$store
                .dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    state.config.accessToken = resp.data.accessToken;
                  }
                  this.conectarEmision();
                })
                .catch((error) => {
                  this.store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, { tokenData: tokenData });
                });
            } else {
              this.$store.state.idEndPoint = 440;
              this.catchStatusAndMessage(error, jsonEcomerseEmision);
            }
          });
      }
    },
    saveInteraccion() {
      if (!this.$store.state.config.habilitarBtnInteraccion) {
         document.getElementById("tooltip_example").className = "d-block";
        this.$store.state.config.btnEmisionDisabled = true;
        var jsonEcomerse = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid:
            this.$store.state.formData.telefonoValid === "FIJO" ||
            this.$store.state.formData.telefonoValid === "MOVIL"
              ? true
              : false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionInteraccion,
          idEstadoCotizacion: 7, //por defectro segun Fredo
          idTipoContacto: 1, //por defectro segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        saveLead
          .saveLeadInteraccion(
            JSON.stringify(jsonEcomerse),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            //Conexion a motor de pago online
            console.log("INTERACCION OK....");
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.$store
                .dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    this.$store.state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    this.$store.state.config.accessToken =
                      resp.data.accessToken;
                  }
                  this.saveInteraccion();
                })
                .catch((error) => {
                  this.store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, {
                    tokenData: dbService.tokenData,
                  });
                });
            } else {
              this.$store.state.idEndPoint = 442;
              this.catchStatusAndMessage(error, jsonEcomerse);
            }
          });
      }
    },
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },
   
  },
};
</script>
<style scoped>
  #tooltip_example {
      width:auto;
      display:none;
      background: #143b7d;
      border:3px solid #143b7d;
      padding:3px;
      position: absolute;
      left:0%;
      bottom: 5rem;
      word-wrap:break-word;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
      z-index:2;
      font-size:1rem;
    }
    #tooltip_example:before {
      content:'';
      position:absolute;
      display:block;
      top:103%;
      left:45%;
      margin:0auto;
      width:0;
      height:0;
      border-color:#143b7d transparent transparent transparent;
      border-style:solid;
      border-width:15px;
    }
    
</style>
