/* nueva vista} */
.promocion{position: absolute;}
h1{color: #2d4754;}
.fichadesc{background-color: #ff6e00;color: white;border-top-right-radius: 5px;text-align: right;padding: 0px 15px;border-bottom-right-radius:5px ;}
.fichalogo{background-color: white;box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);  border-bottom-left-radius: 5px;border-top-left-radius: 5px;}
/* .cardpromo{    position: absolute;top: 45px;left: 86px;} */
.card{border: none;}
.bg-gracias{background-color: #002d74;}
.linea-n{background-color: #ff4d00;height: 10px;}
/* .bg-g{background-color: #efefef;} */
thead {background: #ff4d00;color: #fff;}
.table-responsive {border-radius: 15px;}
.gnpb{color: #444;font-weight: 700;font-size: 1rem;}
.fi-form {border-radius: 5px;}
.carro1 {margin: 0 auto;}
.bg-colorq{background-color: #01337d;}
.text1f {font-weight: 700;background-color: #ffebe1;font-size: 22px;color: #373737;}
.circulo {font-weight: 700;background-color: #ffebe1;color: #f35a02;border-radius: 50%;padding: 2px 5px;}
.b-cotizar {color: #fff;width: 100%;height: 70px;font-size: 30px;background-color: #ff4d00;}
.b-cotizar:hover {background-color: #ff4d00;color: white;}
.bg-footer, .multiselect__tags {background-color: #f7f7f7!important;}
.form-control {height: 52px;font-size: 1rem!important;color: #3b3b3b!important;border-radius: 5px;}
.multiselect__option--highlight {background: #1c3665!important}
.bg-footer {background-color: #f7f7f7!important;}
/* .multiselect__tags {min-height: auto;border: none !important;font-size: 1rem!important;padding:10px 40px 10px 15px !important;} */
.multiselect__tags {background-color: #f7f7f7!important;}
.multiselect__placeholder, .multiselect__tags-wrap {font-size: 18px;}
.multiselect__tags {min-height: 40px;display: block;padding: 8px 40px 0 8px;border-radius: 5px;border: 1px solid #e8e8e8;background: #fff;font-size: 14px;}
.multiselect__placeholder {color: #3b3b3b!important;font-size: 16px;margin: 14px 0;padding-top: 0px!important;}
.multiselect__content {padding-top: 10px!important;}
.multiselect {padding: 0;height: auto!important;}
.multiselect__select {height: 50px !important;}
.cont > section{padding-right:1rem!important;padding-left:1rem!important;;}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: .65;
    -webkit-transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    transform: scale(0.85) translateY(-0.6rem) translateX(.15rem);
}
/*fin  */
#v2{width: 50%;margin: 50px 0 0 0;}
.v2Head{width: 100%;}
.txtgracias{font-size: 1.3rem;}
.sprite {background-image: url(/img/spritee.svg);background-repeat: no-repeat;}
#gnp{width: 130px; height: 70px; background-position: 0px 0px; background-size: 450px; margin: 10px 0;}
#vivir{width: 170px; height: 60px; background-position: -518px -179px; background-size: 700px; margin: 10px 0;}
.btnTel a img{width: 23px; margin: 0; background-position: -302px -105px;background-size: 503px;}
.btnTel a{color: #ff6e00; border: 2px solid #ff6e00;padding: 6px 15px; border-radius: 15px;}
.btnTel a:hover{color: #ff6e00;}
.btnTel p{font-size: 12px;padding: 0; margin: 0 0 -5px 10px;}
.txt img{margin: 195px 0 -5px 0; width: 396px; background-position: 2px 15px; background-size: 380px;}
.txt p img{ width: 35px; margin: 0 5px 0 0;  background-size: 400px;}
#etiqueta{background-position: -150px 0px;}
#tarjeta{background-position: -196px 4px;}
#arrow{background-position: -266px -104px;background-size: 400px;}
.cont img{background-size: 370px; width: 100px;margin: auto;background-position: -245px -78px;}
#car{background-position: -536px -115px;}
#puño{background-position: -403px -241px;}
#grua{background-size: 900px;background-position: -323px -91px}
#foco{background-size: 900px;background-position: -745px 2px;}
/* .dinero img{margin: 0;background-size: 415px;background-position: 0px -60px;width: 150px;height: 65px;} */
#compra{background-position: -120px 3px; background-size: 200px;}
.txtgracias{font-size: 1.5rem;}
#car2{
  background-size: 235px;
    background-position: -142px 0px;
    width: 25px;
    height: 25px;
}
#btnTrackingTelefono,#btnTrackingEcommerce{
  width: 277px;
}
body{
  font-family: sans-serif;
  margin: 0;
  background: #fff;
}
h2, h3, h4, h5{
  color: #2d4754;
}
a, a:hover{
  text-decoration: none
}
ul{
  list-style: none;
}
li img{
  width: 17px !important;
}
.imgFondo {
  background-repeat: no-repeat;
  background-image: url(/img/asg/bg/bg.webp);
  background-size: cover;
  position: relative; 
}
.imgFonCont {
  background-repeat: no-repeat;
  background-image: url(/img/asg/bg/bgC.webp);
  overflow: hidden;
  background-size: cover;
  position: relative;
  padding: 13% 0;
  text-align: center;
}
.imgFonCont a {
  background: #002d74;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
}
.imgFonCont a:hover{
  color: #FFF;
}
.colorFondo {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 10%, rgba(12, 40, 105, 0.8) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.bgTri {
  background: #ff6e00;
  position: absolute;
  transform: skewx(-45deg);
  height: 100%;
  width: 100%;
  margin-left: -93%;
}
.bgTri2 {
  background: #ff6e00;
  position: absolute;
  transform: skewx(45deg);
  height: 100%;
  width: 100%;
  margin-left: -93%;
}
.bgTri3 {
  background: #ff6e00;
  position: absolute;
  transform: skewx(20deg);
  height: 100%;
  width: 20%;
  margin-left: 93%;
  top: 0;
}
.bgCua {
  position: absolute;
  left: -5%;
  width: 40%; 
  height: 213px;
  top: 33%;
  background: #fff;
}
.bgCuaTri{
  position: absolute;
  left: 35%;
  top: 33%;
  width: 0; 
  height: 0; 
  border-left: 100px solid #fff;
  border-top: 107px solid transparent;
  border-bottom: 106px solid transparent;
}
.txtForm {
  margin: auto;
  color: #FFF;
  text-align: center;
  font-size: 28px;
}
.multiselect img{
  margin: -5px 0 0 0;
}
/* .form {
  padding: 4px 5px;    
} */
.form input {
  height: 52px;
  border-radius: 5px;
  /* border: none; */
  padding: 0 5px;
  font-size: 1.2rem;
  color: #333;
  /* box-shadow:0 3px 1px 0 rgb(0 0 0 / 20%) */
}
.form select{
  height: 52px;
  border-radius: 5px;
  /* border: none; */
  padding: 0 5px;
  font-size: 1.2rem;
  color: #777;
  /* box-shadow:0 3px 1px 0 rgb(0 0 0 / 20%) */
}
.form select:focus,
.form input:focus {
  box-shadow: 0 0 0 3px #007bff;
}

.form select.is-invalid,
.form input.is-invalid,
.invalid {
  box-shadow: 0 0 0 2px #ff0000;
}

.checkBox {
  margin: auto;
  padding: 5px 0;
}

.checkBox label,
.checkBox b {
  color: #fff;
  font-size: 12px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  margin-top: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  margin-top: 0px;
}

.btnform {
  margin: 0;
  padding: 0 5px;
}

.btnform button {
  background: #ff6e00;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  font-size: 28px;
  padding: 5px 0;
  margin: 0 0 15px 0;
}

.btnform button:hover {
  color: #fff;
  background: #dd6000;
}
.txt{
  display: block;
}

.txt h1{
  font-size: 34px;
  color: #002d74;
  margin: 0;
  font-weight: bold;
}
.txt p{
  font-weight: bold;
  font-size: 22px;
  color: #ff6e00;
  margin: 0;
}

hr{
  border-bottom: 3px solid #ff6e00;
  margin: 1% 0 0 17%;
  padding: 0;
  width: 30%;
}
.cont{
  font-size: 18px;
  color: #222222;
}
.cont b, .cont i{
  color: #002d74;
}

.endCont{
  background: #f8f8f8;
  text-align: center;
}
.endCont p, .endCont a{
  font-size: 10px;
  color: #b8b8b8;
  text-align: left;
}
.endCont p, a:hover{
  color: #b8b8b8;
}
.footer{
  background: #002d74;
  padding: 1% 0 0 0;
}
.footer a, .footer p, .footer span{
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.botonTop{
  background: #002d74;
}
/* THANKS */
.txtVist{
  text-align: center;
}
.txtVist p{
  margin: 0 0 8px 0;
}
.txtVist b{
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin: 0 0 5px 0;
}
.txtVist span{
  color: #fff;
  text-align: center;
  font-size: 20px;
  border-bottom: 3px solid #002d74;
}
.dinero p{
  margin: 0 0 -15px 0;
  color: #002d74;
  font-size: 22px;
  font-weight: bold;
}

.dinero .price{
  /* background: #fff; */
  border-radius: 60px;
  margin: 0;
  padding: 0 30px;
}
.dinero span{
  color: #002d74;
  font-size: 46px;
  font-weight: bold;
}
.dinero span[name='mx']{
  color: #ff6e00;
  font-size: 24px;
  font-weight: bold;
}
.dinero button{
  background: #ff6e00;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.dinero button:hover{
  background: #ff6e00;
  color: #fff;
}
.msj{
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  margin: 20px 0;
}
.msj b{
  color: #002d74;
}
.msj a{
  background: #ff6e00;
  color: #FFF;
  font-size: 22px;
}
.msj a:hover{
  background: #dd6000;
  color: #FFF;
}
.rest{
  text-align: center;
}
.rest span{
  color: #fff;
  font-size: 22px;
}
.rest b{
  color: #ff6e00;
}
.rest a{
  color: #ff6e00;
  font-size: 22px;
  font-weight: bold;
}
.rest p{
  color: #fff;
  background: #ff6e00;
  border-radius: 30px;
  margin: 25px 0 -2% 0;
  padding: 5px 0;
  font-size: 26px;
  font-weight: bold;
}
.rest table{
  margin: 2% 0 0 0;
  text-align: left;
}
.rest th{
  padding: 2px 10px !important;
  color: #fff;
  border: none;
  font-size: 22px;
}
.rest td{
  padding: 2px 10px !important;
  color: #777;
}
.rest td[name=bor], .rest th[name=bor]{
  border-left: 1px solid rgb(202, 202, 202); 
  border-right: 1px solid rgb(202, 202, 202); 
}
.sk-fading-circle .sk-circle:before {
  background-color: #fff;
}
.chevron{
  width: 20px !important;
  margin: 0 !important;
  position: relative !important;
}
.car{
  width: 30px !important;
  margin: 0 !important;
  position: relative !important;
}

@media (min-width: 1025px) and (max-width: 1199px) {
}
.txtForm{
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .form-floating>label {
    padding: 1rem 0.3rem;
  }
  .promocion{width: 50px; height: 50px;}
  .txt h1{
    font-size: 28px;font-size: 2rem; text-align: center;
  }
  .txtForm{
    font-size: 15px;
  }
  .txt img {
    margin: 240px 0 -5px 0;
    width: 290px;
    background-position: 2px 15px;
    /* background-size: 388px; */
}
  .txt p{
    font-size: 17.5px;
  }
  h2, h3, h4, h5, h6{
    font-size: 24px;
  }
  .txtVist b{
    font-size: 24px;
  }
  .msj{
    font-size: 20px;
  }
  .msj a{
    font-size: 18px;
  }
}
@media (min-width: 427px) and (max-width: 767px) {
  h1{font-size: 1.1rem;}
  .promocion{width: 50px; height: 50px;}
  .txtForm{
    font-size: 16px;
  }
  .txt h1{
    color: #fff;font-size: 1.3rem; text-align: center;
  }
  h2, h3, h4, h5, h6, .txtVist b{
    font-size: 24px;
  }
  .txtVist p, .rest span, .txtVist span{
    font-size: 18px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .msj, .msj a{
    font-size: 18px;
  }
  .dinero div{
    background: transparent;
  }
  .dinero span, .dinero p, .dinero span[name='mx']{
    color: #002d74;
  }
  hr{
    margin: 1% 0 0 10%;
    width: 80%;
  }
}
@media (min-width: 377px) and (max-width: 426px) {
  .promocion{width: 55px; height: 55px;}
  h1{font-size: 1.1rem;}
  #gnp {
    width: 99px;
    height: 58px;
    background-position: 0px 0px;
    background-size: 359px;
    margin: 10px 0;
  }
  .txtgracias{font-size: 1rem;}

  .txtForm{
    font-size: 16px;
  }
  .imgFondo{background-image: none; background-color: #fb6c06;}
  /* .colorFondo{color: #ff6e00;} */
  p{font-size: 1rem;}
  .txt h1{
    color: #fff;font-size: 1.3rem; text-align: center;
  }
  .hidd{display: none;}
  h2, h3, h4, h5, h6{
    font-size: 24px;
  }
  .txtVist b, .rest p{
    font-size: 22px;
  }
  .txtVist p, .rest span, .txtVist span{
    font-size: 18px;
  }
  .rest a{
    font-size: 15px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero button{
    font-size: 14px;
  }
  .msj, .msj a{
    font-size: 18px;
  }
  .dinero div{
    background: transparent;
  }
  .dinero span, .dinero p, .dinero span[name='mx']{
    color: #002d74;
  }
  hr{
    margin: 1% 0 0 10%;
    width: 80%;
  }
}
@media (min-width: 322px) and (max-width: 376px) {
  h1{font-size: .9rem;}
  .promocion{width: 50px; height: 50px;}
  #gnp {
    width: 99px;
    height: 50px;
    background-position: 0px 0px;
    background-size: 316px;
    margin: 10px 0;
  }
  .hidd{display: none;}
  .txtgracias{font-size: 1rem;}

  .imgFondo{background-image: none; background-color: #fb6c06;}
  p{font-size: 1rem;}
  .txt h1{
    color: #fff;font-size: 1.3rem; text-align: center;
  }
  .txtForm{
    font-size: 14px;
  }
  h2, h3, h4, h5, h6{
    font-size: 24px;
  }
  .txtVist b, .rest p{
    font-size: 19px;
  }
  .rest a{
    font-size: 14px;
  }
  .txtVist p, .rest span{
    font-size: 16px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero p{
    font-size: 20px;
    color: #002d74;
  }
  .dinero span{
    font-size: 40px;
    color: #002d74;
  }
  .dinero button{
    font-size: 12px;
  }
  .dinero div{
    background: transparent;
  }
  .dinero span[name='mx']{
    color: #fff;
  }
  .msj, .msj a{
    font-size: 18px;
  }
  hr{
    margin: 1% 0 0 10%;
    width: 80%;
  }
}
@media (min-width: 260px) and (max-width: 321px){
  h1{font-size: .9rem;}
  .telhead{width: 13px; height: 13px;}
  .promocion{width: 50px; height: 50px;top: -12px;}
  .desct,.desct2{font-size: .8rem;}
  #gnp {
    width: 99px;
    height: 50px;
    background-position: 0px 0px;
    background-size: 316px;
    margin: 10px 0;
  }
  .priv{font-size: .8rem;}
  .priv strong{font-size: .8rem;}
  .hidd{display: none;}
  .txtgracias{font-size: 1rem;}

  .txtForm{
    font-size: 12px;
  }
  .imgFondo{background-image: none; background-color: #fb6c06;}
  h2, h3, h4, h5, h6{
    font-size: 24px;
  }
  p{font-size: 1rem;}
  b,strong{font-size: 1.4rem;}
  .txt h1{
    color: #fff;font-size: 1.3rem; text-align: center;
  }
  .btnTel a {
    font-size: 11px;
    color: #ff6e00;
    border: 2px solid #ff6e00;
    padding: 6px 15px;
    border-radius: 15px;
  }
  /* .dinero .linea {
    background: #dd6000;
    color: #fff !important;
    padding: 15px 15px;
    border-radius: 40px;
    font-size: 13px;
  }
  .dinero .tel {
    background: #002d74;
    color: #fff !important;
    padding: 15px 15px;
    border-radius: 40px;
    font-size: 13px;
  } */
}
.dauto {
  font-size: 22px;
  color: #ff6e00;
  font-weight: 900;
  border-radius: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  padding: 5px 10px;
}
/*Vista Desktop*/
.adornoNormal{border:4px dotted #fb6c06;border-radius:6px;}
.colorNormal{background:#fb6c06;color:#fff;text-align:center;font-weight:bold;font-size:15px;margin-bottom:0;padding:0.5rem;border-radius:5px;}

.ibanner{width: 85px;max-height: 75px;}
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;}
.adornosPromo{border:4px dotted #ff0049;border-radius:6px;}
.labelPromo{position:absolute;top:-10px;left:-10px;background:#fb6c06;color:#fff;border-radius:10px;padding:0px 12px;border:solid 2px}
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:1.3rem;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1.4rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
/*Vista mobile*/
@media (min-width: 240px) and (max-width: 520px) {  
.imgFondo{background-image:none;background:#002d74;}  
.labelPromo{position:absolute;top:-10px;left:-10px;background:#fb6c06;color:#fff;border-radius:10px;padding:0px 12px;}  
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:1rem;margin-bottom:0;padding:0.3rem 0.2rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
}
.form-floating{position:relative}
.form-floating>.form-control,.form-floating>.form-select{line-height:1.25}
.form-floating>label{position:absolute;top:0;left:0;height:100%;padding:1rem .3rem;pointer-events:none;border:1px solid transparent;transform-origin:0 0;transition:opacity .1s ease-in-out,transform .1s ease-in-out}
@media (prefers-reduced-motion:reduce)
{.form-floating>label{transition:none}}
.form-floating>.form-control{padding:1rem .75rem}
.form-floating>.form-control::-moz-placeholder{color:transparent}
.form-floating>.form-control::placeholder{color:transparent}
.form-floating>.form-control:not(:-moz-placeholder-shown){padding-top:1.625rem;padding-bottom:.625rem}
.form-floating>.form-control:focus,.form-floating>.form-control:not(:placeholder-shown){padding-top:25px;padding-bottom:.625rem}.form-floating>.form-control:-webkit-autofill{padding-top:1.625rem;padding-bottom:.625rem}
.form-floating>.form-select{padding-top:1.625rem;padding-bottom:.625rem}.form-floating>.form-control:not(:-moz-placeholder-shown)~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
.form-floating>.form-control:-webkit-autofill~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
.navbar{
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}