<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <a id="btnTop" :class="$store.state.config.showHotAlert ? 'botonTop-upper' : 'botonTop'" href="#Top">
      <img src="/img/pixel.svg" width="25" height="25" :alt="$store.state.config.asgNombre" class="sprite botonTopImg"
        style="width:25px;height:auto;">
      <span class="botonTopSpan"> Ir Arriba</span>
    </a>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function () {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>

<style scoped>
.botonTop,
.botonTop-upper {
  background: #002d74;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  padding: 15px;
  border-radius: 25px;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.botonTop-upper {
  bottom: 4.5rem;
}

.botonTopImg {
  background-position: -261px -104px;
  background-size: 400px;
  margin: 0 5px 0 0;
  transform: rotate(-90deg);
}

.botonTopSpan {
  color: #ffffff;
  font-size: 16px;
}

@media (min-width: 319px) {
  .botonTop-upper {
    bottom: 7rem;
  }
}

@media (min-width: 425px) {
  .botonTop-upper {
    bottom: 6rem;
  }
}

@media (min-width: 768px) {
  .botonTop-upper {
    bottom: 3.5rem;
  }
}
</style>
