<template>
  <div class="container-fluid">
    <div class="row nAv">
      <div class="col-6 offset-md-1 col-md-6 col-lg-5 text-left my-auto">
        <!-- <a href="/">
          <img src="/img/pixel.svg" width="130" height="70" id="gnp" :alt="$store.state.config.asgNombre" class="sprite" >
        </a> -->
        <h1 class=" mt-md-3 mb-md-2 titulofw-bold my-1">
          GNP Seguros de Autos
        </h1>
      </div>
      <!-- <div class="col-4 text-center d-none d-md-inline">
        <img src="/img/pixel.svg" width="170" height="60" alt="Vivir es Increíble" id="vivir" class="sprite d-none d-md-inline" />
      </div> -->
      <div class="col-6 col-md-5 my-auto text-end">
        <a id="idTelDID" :href="'tel:55'+this.$store.state.config.telefonoAS" class="btn my-auto">
          <!-- <p class="mb-0 text-end llama">LLAMA GRATIS</p> -->
          <img src="/img/nuevas/telefono.svg" width="20" height="20" alt="tel" class="telhead " >
          <small class="llama2">(55) {{this.$store.state.config.telefonoAS}}</small>
        </a>
      </div>
    </div>
  </div>
</template>





































