<template>
  <div>
    <div class="container-fluid">
      <div class="row bg-colorq">
        <div class="linea-n"></div>
        <div class="col-12 col-md-6 text-center">
          <!-- <h1 class="text-white mt-md-3 mb-md-2 titulo font-weight-bold fw-bold my-1">
          GNP Seguros de Autos
        </h1> -->
          <div class="row">
            <cardpromo></cardpromo>
          </div>
          <br class="d-none d-md-block" />
          <img width="480" height="360" src="/img/nuevas/gnp1.webp" loading="lazy" class="carro1 d-none mt-1 d-md-block"
            alt="carro" />
        </div>
        <div class="col-12 col-md-6 mt-2">
          <div class="row">
            <div class="col-11 col-md-10 bg-white fi-form px-md-3 mt-md-4 mx-auto">
              <formulario :config="this.$store.state.config" />
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-colorq">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 offset-lg-2 offset-md-2 my-md-5 my-2">
          <div class="row">
            <div class="col-4">
              <div class="row">
                <div class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center">
                  <img src="/img/nuevas/ben1.svg" width="50" height="50" class="img-fluid icon-beneficios mt-lg-1" />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-6 text-center">
                  <p class="m-0 p-0 text-beneficios text-white">Paga a Meses</p>
                  <p class="m-0 p-0 text-beneficios text-white">Sin Intereses</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center">
                  <img src="/img/nuevas/ben2.svg" width="50" height="50" class="img-fluid icon-beneficios mt-lg-1" />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-7 text-center">
                  <p class="m-0 p-0 text-beneficios text-white">
                    Obtén tu póliza
                  </p>
                  <p class="m-0 p-0 text-beneficios text-white">hoy mismo</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center">
                  <img src="/img/nuevas/ben3.svg" width="50" height="50" class="img-fluid icon-beneficios mt-lg-1" />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-6 text-center">
                  <p class="m-0 p-0 text-beneficios text-white">Mejor precio</p>
                  <p class="m-0 p-0 text-beneficios text-white">Garantizado</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import formulario from "~/components/forms/autosForm.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js"; import telefonoService from "~/plugins/telefonoService.js";

//import getConfigService from "../plugins/configuracion";
export default {
  layout: "index",
  components: {
    formulario,cardpromo
  },
  beforeCreate() {
    this.$store.state.config.aseguradora = "GNP";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.grupoCallback = "VN GNP";
    this.$store.state.config.from = "GNP AUTOS BRANDING";
    this.$store.state.config.dominioCorreo = "AUTOS|GNP|gnpsegurosautos-com";
    this.$store.state.config.idPagina = 48;
    this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    this.$store.state.config.idSubRamo = 40;
    this.$store.state.config.idCampana = 2;
      this.$store.state.config.idMedioDifusion = 5060;
      this.$store.state.config.idMedioDifusionInteraccion = 5061;
      this.$store.state.config.idMedioDifusionEcommerce = 5062;
  
    this.$store.state.config.idCampana = 2;

    //POR FRONT
    this.$store.state.config.titulo = "GNP Seguros de Autos"; // INDEX
    this.$store.state.config.parrafo = " "; //CONTENIDO AGREGADO A LA PROMO EN H1 //CAMBIA DE ALERTA DEFAULT A PROMO
    this.$store.state.config.promo = " ";
    this.$store.state.config.adic = " ";
    this.$store.state.config.dominio = "gnpsegurosautos.com";
    this.$store.state.config.domV2 = "gnpautos.mx";
    this.$store.state.config.domV3 = "gnpautoseguro.mx";
    this.$store.state.config.k1 = "GNP Seguros";
    this.$store.state.config.k2 = "Seguros GNP";
    this.$store.state.config.k3 = "Seguros de autos GNP";
    this.$store.state.config.k4 = "GNP Seguros Autos";
    this.$store.state.config.k5 = "GNP Seguros México";
    this.$store.state.config.k6 = "Seguros GNP Autos";
    this.$store.state.config.k7 = "Cotiza Seguros de Autos GNP";
    this.$store.state.config.k8 = " ";
    this.$store.state.config.k9 = " ";
    this.$store.state.config.urlNext = "/dsp/thank-you";

    this.$store.state.config.clase2="col-6 col-md-6 col-lg-6"
    this.$store.state.config.clase3="col-6 col-md-6 col-lg-6"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.formg=1;
     // SEO METAS Y KEYWORDS
        this.$store.state.config.canonicalSeo="https://gnpsegurosautos.com/dsp/";
        this.$store.state.config.titleSeo= '"🥇GNP Seguros - Cotiza Seguros de Autos GNP en Segundos"';
        this.$store.state.config.keywordSeo= "GNP, GNP Seguros, Seguros GNP, Seguro de Autos GNP, GNP Seguros de Autos, Seguro de Auto GNP, GNP Seguro de Auto, Seguro de Auto GNP, Cotizador de Seguros de Autos GNP, GNP Seguros Auto, GNP Siniestros, GNP Agentes, GNP Seguros Siniestros, GNP México, Cotizar Seguros GNP, GNP Autos, Cotizar Seguro de Auto GNP, Seguros para Autos GNP, Póliza de Seguro GNP.";
        this.$store.state.config.descriptionSeo= 'GNP Seguros te ofrece distintos planes de protección para que elijas el que más te convenga. ¡Cotiza y contrata en segundos tu Seguro de Auto GNP!';
        //
  },
  methods: {
    pantall:function(x) {
      var x = window.matchMedia("(max-width: 700px)")
      if (x.matches) { // If media query matches
      // console.log("aqui match",x)
        this.$store.state.config.formg=1;
      } else {
        this.$store.state.config.formg=0;
      }
    },
  },
  mounted(){
    this.pantall();
    window.addEventListener('resize', this.pantall);

  },
  async created() {  
    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
        //console.log( telefono.data.telefono)
      }	
    } catch (error) {
      console.log(error);
    }

    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2="col-6 col-sm-6 col-md-6 col-lg-6";
        this.$store.state.config.clase3="col-6 col-md-6 col-lg-6";
        this.$store.state.config.colorPromo="descuentosPromo";
      }
    } catch (err) {
      console.log(err);
    }
  },
  head() {
    return {
        title: this.$store.state.config.titleSeo,
        meta: [
          {hid: 'keywords', name: 'keywords', content:this.$store.state.config.keywordSeo},
          {hid: 'description', name: 'description', content: this.$store.state.config.descriptionSeo},
          {hid: 'canonical', rel: 'canonical', href: this.$store.state.config.canonicalSeo},
          {hid: 'author', name: 'author', content: 'linkedin | Abigail-Flores'},
          {hid: 'robots', name:'robots', content:'noindex,nofollow'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          //SEO
          {hid: 'fb:app_id', name:'fb:app_id', property:'fb:app_id', content: '' },
          {hid: 'og:url', name: 'og:url', property:'og:url', content: this.$store.state.config.canonicalSeo},
          {hid: 'og:type', name: 'og:type', property:'og:type', content: 'website' },
          {hid: 'og:title', name: 'og:title', property:'og:title', content: this.$store.state.config.titleSeo },
          {hid: 'og:keywords', name: 'og:keywords', property:'og:keywords', content: this.$store.state.config.keywordSeo },
          {hid: 'og:description', name: 'og:description', property:'og:description', content: this.$store.state.config.descriptionSeo },
          {hid: 'og:image', name: 'og:image', property:'og:image', content: './img/banner.jpg' },
          {hid: 'og:alt', name: 'og:alt', property:'og:alt', content: this.$store.state.config.titleSeo },
        ],
    };
  }
};
</script>
