<template>
  <div id="botonTop">
    <!-- <A /> -->
    <Header />
    <Modal />
    <div class="VERSION 2"></div>
    <Btn />
    <nuxt />
    <hotsaleAlert />
    <!--<cookies/>-->
    <Footer />
  </div>
</template>
<script>
// import A from "~/components/alerta/alerta.vue";
import Header from "~/components/common/Header.vue";
import Modal from "~/components/utilities/modal.vue";
import Btn from "~/components/common/btnTop.vue";
import Footer from "~/components/common/Footer.vue";
import hotsaleAlert from "../components/alerta/hotsaleAlert.vue";
//import cookies from "~/components/common/cookies.vue";

export default {
  components: {
    // A,
    Header,
    Modal,
    Btn,
    Footer,
    hotsaleAlert,
    //cookies
  }
};
</script>
