<template>
  <div id="botonTop">
    <Header />
    <Modal />
    <!-- <Btn /> -->
    <div class="gnpsegurosautos.com -- VERSION 3"></div>
    <nuxt />
    <Footer />
  </div>
</template>
<script>
import Header from "~/components/common/Header.vue";
import Modal from "~/components/utilities/modal.vue";
import Btn from "~/components/common/btnTop.vue";
import Footer from "~/components/common/Footer.vue";
export default {
  components: {
    Header,
    Modal,
    Btn,
    Footer
  },
  created: function() {
    this.$store.state.config.dominio = "gnpsegurosautos.com";
    this.$store.state.config.domV2 = "gnpautos.mx";
    this.$store.state.config.domV3 = "gnpautoseguro.mx";
  }
};
</script>
