<template>
  <div>
    <div class="container-fluid">
      <div class="row bg-colorq">
        <div class="linea-n"></div>
        <div class="col-12 col-md-6 text-center">
          <!-- <h1 class="text-white mt-md-3 mb-md-2 titulo font-weight-bold fw-bold my-1">
          GNP Seguros de Autos
        </h1> -->
          <div class="row">
            <cardpromo></cardpromo>
          </div>
          <br class="d-none d-md-block" />
          <img width="480" height="360" src="/img/nuevas/gnp1.webp" loading="lazy" class="carro1 d-none mt-1 d-md-block"
            alt="carro" />
        </div>
        <div class="col-12 col-md-6 mt-2">
          <div class="row">
            <div class="col-12 col-md-10 bg-white fi-form px-md-3 mt-md-4 mx-auto">
              <formulario :config="this.$store.state.config" />
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-colorq">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 offset-lg-2 offset-md-2 my-md-5 my-2">
          <div class="row">
            <div class="col-4">
              <div class="row">
                <div class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center">
                  <img src="/img/nuevas/ben1.svg" width="50" height="50" class="img-fluid icon-beneficios mt-lg-1" />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-6 text-center">
                  <p class="m-0 p-0 text-beneficios text-white">Paga a Meses</p>
                  <p class="m-0 p-0 text-beneficios text-white">Sin Intereses</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center">
                  <img src="/img/nuevas/ben2.svg" width="50" height="50" class="img-fluid icon-beneficios mt-lg-1" />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-7 text-center">
                  <p class="m-0 p-0 text-beneficios text-white">
                    Obtén tu póliza
                  </p>
                  <p class="m-0 p-0 text-beneficios text-white">hoy mismo</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center">
                  <img src="/img/nuevas/ben3.svg" width="50" height="50" class="img-fluid icon-beneficios mt-lg-1" />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-6 text-center">
                  <p class="m-0 p-0 text-beneficios text-white">Mejor precio</p>
                  <p class="m-0 p-0 text-beneficios text-white">Garantizado</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CONTENIDO -->
    <div v-if="this.$route.path === '/'">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 cont">
            <hr />
            <!-- Conduce -->
            <section>
              <div class="row">
                <div class="col-12 col-md-2">
                  <img src="/img/pixel.svg" width="17" height="17" id="car" :alt="$store.state.config.k4"
                    class="d-block sprite">
                </div>
                <div class="col-md-9 ">
                  <h2>Conduce con tranquilidad, siempre con el respaldo de un Seguros de Autos GNP</h2>
                  <p>Si eres propietario de un auto, conocemos la importancia que tiene para ti, es por ello que
                    mantenerlo protegido en todo momento es algo esencial para todos los conductores y eso es algo que
                    sólo puedes lograr con un seguro de auto, y es aquí en donde GNP Seguros llega para ofrecerte un
                    respaldo único para tu vehículo.</p>
                  <p>En Seguros GNP cuentan con diferentes planes de protección para tu auto, de esta forma podrás elegir
                    el que más se adapte a tus necesidades y presupuesto, y podrás conducir con tranquilidad a lo largo y
                    ancho de la República Mexicana.</p>
                  <p>GNP México cuenta en la actualidad con millones de clientes, siendo una de las compañías de seguros
                    más importantes a nivel nacional debido al excelente servicio que ofrecen en todo momento,
                    preocupándose siempre por sus asegurados, incluso fuera del país.</p>
                  <p>Tu vehículo estará respaldado con múltiples servicios que GNP Seguros Auto tiene para ti, por lo que
                    al momento de sufrir un accidente vial o siniestro, podrás recibir el apoyo necesario por parte de la
                    aseguradora.</p>
                  <p>¡Descubre todos los beneficios que te puede traer cotizar Seguros de Autos GNP!</p>
                </div>
              </div>
            </section>
            <!-- Cobertura -->
            <section>
              <div class="row">
                <div class="col-12 col-md-2">
                  <img src="/img/pixel.svg" width="17" height="17" id="puño" :alt="$store.state.config.k5"
                    class="d-block sprite">
                </div>
                <div class="col-md-9">
                  <h2>Elige la cobertura ideal para ti con GNP Seguros Auto</h2>
                  <p>Como ya te mencionamos, GNP Seguro de Auto cuenta con diferentes planes para la protección de tu
                    vehículo, así podrás contratar el que más se adapte a tus necesidades y presupuesto.</p>
                  <p>Las coberturas que GNP Seguros ofrece son:</p>
                  <ul>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Seguro de Auto
                      Individual: GNP Siniestros sabe que te preocupas por tu patrimonio debido al esfuerzo que hiciste
                      para obtenerlo, por eso protegerlo es una de tus prioridades, y con este seguro puedes hacerlo,
                      siempre adaptándose a tus necesidades.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Seguro Autos
                      Turista GNP: Cobertura con la que puedes viajar desde el extranjero a México y tu auto permanecerá
                      siempre protegido.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Seguro Auto
                      Élite: Es la cobertura amplia que te ofrecemos, siendo un plan muy completo con el que podrás estar
                      respaldado ante diversas situaciones.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Seguro Básico
                      Estandarizado: Es el plan mínimo con el que debes contar para poder transitar por México, y con el
                      que te encuentras respaldado por daños que causes a terceros.</li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- Boton -->
            <div class="row">
              <div class="container-fluid imgFonCont" loading="lazy">
                <!-- <div class="colorFondo"></div> -->
                <div class="bgTri3"></div>
                <!-- BOTON -->
                <div class="col-12">
                  <a href="#Top" class="btn">Cotiza gratis ahora mismo</a>
                </div>
              </div>
            </div>
            <!-- Beneficios -->
            <hr />
            <section>
              <div class="row">
                <div class="col-12 col-md-2">
                  <img src="/img/pixel.svg" width="100" height="100" id="grua" :alt="$store.state.config.k6"
                    class="d-block sprite">
                </div>
                <div class="col-md-9">
                  <h2>Servicios únicos incluidos en GNP Seguro de Auto</h2>
                  <p>Cada uno de los planes que se ofrecen en el GNP Seguros Siniestros incluye ciertos servicios que te
                    serán útiles en caso de accidentes viales o siniestros, pero siempre dependerá de la cobertura que
                    contrates.</p>
                  <p>Los servicios que ofrece GNP Autos son los siguientes:</p>
                  <!-- tABLE -->
                  <div class="table-responsive">
                    <table class="table text-center">
                      <thead>
                        <tr>
                          <th>Coberturas</th>
                          <th>Cobertura Élite</th>
                          <th>Cobertura Individual</th>
                          <th>Cobertura Turista</th>
                          <th>Cobertura Básica</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Responsabilidad Civil -->
                        <tr>
                          <th>Responsabilidad Civil</th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                        </tr>
                        <!-- Gastos Médicos -->
                        <tr>
                          <th>Gastos Médicos</th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                        </tr>
                        <!-- Asistencia Vial -->
                        <tr>
                          <th>Asistencia Vial</th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                        </tr>
                        <!-- Club GNP Autos -->
                        <tr>
                          <th>Club GNP Autos</th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td>X</td>
                        </tr>
                        <!-- Asistencia Legal -->
                        <tr>
                          <th>Asistencia Legal</th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                        </tr>
                        <!-- Daños Materiales  -->
                        <tr>
                          <th>Daños Materiales </th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td>X</td>
                        </tr>
                        <!-- Cristales  -->
                        <tr>
                          <th>Cristales </th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td>X</td>
                          <td>X</td>
                          <td>X</td>
                        </tr>
                        <!-- Robo Total  -->
                        <tr>
                          <th>Robo Total </th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td>X</td>
                        </tr>
                        <!-- Auto Sustituto -->
                        <tr>
                          <th>Auto Sustituto</th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td>X</td>
                          <td>X</td>
                        </tr>
                        <!-- Responsabilidad Civil en el Extranjero -->
                        <tr>
                          <th>Responsabilidad Civil en el Extranjero</th>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td>X</td>
                          <td><img src="/img/pixel.svg" width="17" height="17" style="width:18px; height: 18px;"
                              alt="check" class="sprite" />&nbsp;</td>
                          <td>X</td>
                        </tr>
                        <!-- Ayuda para llantas y rines -->
                        <tr>
                          <th>Ayuda para llantas y rines</th>
                          <td><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite"
                              style="width:18px; height: 18px;" />&nbsp;</td>
                          <td>X</td>
                          <td>X</td>
                          <td>X</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p>Para conocer cual de estas coberturas es la más adecuada para ti no olvides cotizar Seguros de Autos
                    GNP.</p>
                </div>
              </div>
            </section>
            <!-- BENEFICIOS -->
            <section>
              <div class="row">
                <div class="col-12 col-md-2">
                  <img src="/img/pixel.svg" width="100" height="100" id="foco" :alt="$store.state.config.k7"
                    class="d-block sprite">
                </div>
                <div class="col-md-9">
                  <h3>Beneficios de contratar tu póliza con GNP Seguros de Autos</h3>
                  <p>Estamos conscientes de que en México son decenas las aseguradoras que dicen ofrecer el mejor seguro
                    de auto, además de múltiples beneficios, sin embargo, son pocas las que cumplen con su palabra, es por
                    ello que al Cotizar Seguro GNP te mostramos los beneficios que recibirás desde el primer momento en el
                    que realizas la contratación de tu póliza de seguro de auto.</p>
                  <ul>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Con Valor
                      Convenido garantiza la Suma Asegurada de tu vehículo durante toda la vigencia.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Precio
                      personalizado dependiendo de tus necesidades y las de tu auto.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Complementa tu
                      protección con las coberturas adicionales que desees y adapta deducibles y Sumas Aseguradas a tus
                      necesidades.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Puedes elegir
                      la cobertura de Auto Sustituto para Pérdida Total o Parcial.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Te brinda
                      protección más allá de las fronteras al viajar con tu auto por Estados Unidos y Canadá.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Paga tu seguro
                      a 3 o 6 meses sin intereses.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Seguro
                      Obligatorio de Responsabilidad Civil Vehicular, sin costo adicional, a la prima del seguro.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Respaldo por
                      Gastos Médicos que requieras como conductor y para los ocupantes del vehículo.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Con Protección
                      Legal de GNP Agentes, expide la fianza correspondiente para garantizar tu libertad y la liberación
                      de tu auto en caso de un juicio civil.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Te cubre la
                      Responsabilidad Civil si conduces otro auto, aún cuando este no se encuentre asegurado.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Con Club GNP
                      Autos, personal calificado te ayudará en caso de requerir grúa, paso de corriente, envío de
                      combustible, cambio de llanta o servicio de cerrajería.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Asistencia en
                      viajes, con beneficios como la renta de un vehículo o pago de hospedaje mientras tu auto es
                      reparado, así como información y orientación turística.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Solicitud de
                      transmisión de mensajes en caso de emergencia, para realizar las llamadas necesarias y dar aviso a
                      tus familiares.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Reparación de
                      Daños materiales ocasionados a tu vehículo por incendio, inundación, terremoto o colisión.</li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- PROTECCION -->
            <section>
              <div class="row">
                <div class="col-12 col-md-2">
                  <!-- <img src="/img/pixel.svg" id="foco" :alt="$store.state.config.k7" class="d-block sprite" > -->
                </div>
                <div class="col-md-9">
                  <h3>Si deseas una protección más completa, contrata las coberturas adicionales de GNP Seguros Auto</h3>
                  <p>Probablemente ya cuentes con Seguros para Autos GNP, pero sientes que te falta algo más, es por ello
                    que la aseguradora diseñó algunas coberturas adicionales que puedes contratar por separado para poder
                    disfrutar de una protección más completa para tu auto, tales como:</p>
                  <ul>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Mayor
                      protección con Responsabilidad Civil Ocupantes y por Fallecimiento. Si a causa de un accidente los
                      acompañantes y terceros resultan lesionados o fallecen.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Con Robo
                      Parcial se cubre la reposición de autopartes originales a consecuencia de un robo y/o asalto.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Con Robo
                      Parcial Plus adicional a lo anterior, se respaldan las llantas y/o rines.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Cero Deducible
                      en GNP Seguros en caso de Pérdida Total sin gastos innecesarios. Despreocúpate de pagar más al
                      momento del siniestro ya que cuentas con deducible cero en caso de pérdida total por daños
                      materiales y robo.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Con la
                      cobertura de Protección Auxiliar los daños al interior de tu auto ocasionados por robo o intento de
                      robo, los gastos médicos derivados y el robo de cristales quedan cubiertos.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;La cobertura
                      de Adaptaciones, Conversiones y Equipo especial cubre tus rines, estéreo, bocinas y quemacocos por
                      accidentes y Robo Total.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Siempre en
                      Agencia, si desafortunadamente sufres una colisión, enviarán tu auto a la agencia para una
                      reparación de excelencia.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Tienes Auto
                      Sustituto para continuar tus actividades con un plazo de 10, 15, 20 o 30 días en caso de robo o
                      accidentes que causen daños a tu auto.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Garantía de
                      Autos Financiados. Cubre tu deuda pendiente de pago con la financiera en caso de contar con un
                      crédito o arrendamiento vigente en caso de siniestro por Daños Materiales Pérdida Total o Robo
                      Total.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Conductor
                      Protegido. Te cubren los Gastos Médicos y asistencia vial cuando conduzcas un vehículo distinto al
                      asegurado.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Daños
                      Materiales de Llantas y/o Rines. Si a causa de un accidente o caída en un bache las llantas o rines
                      de tu auto sufren daños, te ayudan a pagar su reposición.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Reposición de
                      Llaves. Te reembolsan el costo si perdiste o te robaron tus llaves. Si presentas acta de denuncia
                      por robo o extravío te ahorras el deducible.</li>
                  </ul>
                  <p>Estos servicios adicionales los podrás obtener al cotizar Seguros de Autos GNP.</p>
                </div>
              </div>
            </section>
            <!-- Deducibles -->
            <section>
              <div class="row">
                <div class="col-12 col-md-2">
                  <!-- <img src="/img/pixel.svg" id="foco" :alt="$store.state.config.k7" class="d-block sprite" > -->
                </div>
                <div class="col-md-9">
                  <h3>¿Cuáles son las sumas aseguradas y deducibles de GNP Seguro de Auto?</h3>
                  <p>Sabemos que una de tus mayores preocupaciones en cuanto a los seguros de auto son los costos y todo
                    lo que tiene que ver con tu economía, es por ello que a continuación te presentaremos los montos con
                    los que te respalda Seguros GNP.</p>
                  <p>Es importante mencionar que estos montos dependen de ciertos factores como la cobertura que
                    contrates, el tipo de auto que tengas, etc.</p>
                  <!-- TABLE -->
                  <div class="table-responsive">
                    <table class="table text-center">
                      <thead>
                        <tr>
                          <th>Cobertura</th>
                          <th>Monto</th>
                          <th>Deducible</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Daños Materiales -->
                        <tr>
                          <th>Daños Materiales</th>
                          <td>Valor Comercial</td>
                          <td>5%</td>
                        </tr>
                        <!-- Robo Total -->
                        <tr>
                          <th>Robo Total</th>
                          <td>Valor Comercial</td>
                          <td>10%</td>
                        </tr>
                        <!-- Gastos Médicos -->
                        <tr>
                          <th>Gastos Médicos</th>
                          <td>$200,000</td>
                          <td>No Aplica</td>
                        </tr>
                        <!-- Cristales -->
                        <tr>
                          <th>Cristales</th>
                          <td>Costo Cristal</td>
                          <td>20%</td>
                        </tr>
                        <!-- Responsabilidad Civil -->
                        <tr>
                          <th>Responsabilidad Civil</th>
                          <td>$3,000,000</td>
                          <td>No Aplica</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <ul>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Mayor
                      protección con Responsabilidad Civil Ocupantes y por Fallecimiento. Si a causa de un accidente los
                      acompañantes y terceros resultan lesionados o fallecen.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Con Robo
                      Parcial se cubre la reposición de autopartes originales a consecuencia de un robo y/o asalto.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Con Robo
                      Parcial Plus adicional a lo anterior, se respaldan las llantas y/o rines.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Cero Deducible
                      en GNP Seguros en caso de Pérdida Total sin gastos innecesarios. Despreocúpate de pagar más al
                      momento del siniestro ya que cuentas con deducible cero en caso de pérdida total por daños
                      materiales y robo.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Con la
                      cobertura de Protección Auxiliar los daños al interior de tu auto ocasionados por robo o intento de
                      robo, los gastos médicos derivados y el robo de cristales quedan cubiertos.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;La cobertura
                      de Adaptaciones, Conversiones y Equipo especial cubre tus rines, estéreo, bocinas y quemacocos por
                      accidentes y Robo Total.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Siempre en
                      Agencia, si desafortunadamente sufres una colisión, enviarán tu auto a la agencia para una
                      reparación de excelencia.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Tienes Auto
                      Sustituto para continuar tus actividades con un plazo de 10, 15, 20 o 30 días en caso de robo o
                      accidentes que causen daños a tu auto.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Garantía de
                      Autos Financiados. Cubre tu deuda pendiente de pago con la financiera en caso de contar con un
                      crédito o arrendamiento vigente en caso de siniestro por Daños Materiales Pérdida Total o Robo
                      Total.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Conductor
                      Protegido. Te cubren los Gastos Médicos y asistencia vial cuando conduzcas un vehículo distinto al
                      asegurado.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Daños
                      Materiales de Llantas y/o Rines. Si a causa de un accidente o caída en un bache las llantas o rines
                      de tu auto sufren daños, te ayudan a pagar su reposición.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Reposición de
                      Llaves. Te reembolsan el costo si perdiste o te robaron tus llaves. Si presentas acta de denuncia
                      por robo o extravío te ahorras el deducible.</li>
                  </ul>
                  <p>Estos servicios adicionales los podrás obtener al cotizar Seguros de Autos GNP.</p>
                </div>
              </div>
            </section>
            <!-- Riesgos -->
            <section>
              <div class="row">
                <div class="col-12 col-md-2">
                  <!-- <img src="/img/pixel.svg" id="foco" :alt="$store.state.config.k7" class="d-block sprite" > -->
                </div>
                <div class="col-md-9">
                  <h3>¿Cuáles son los riesgos ante los que estarás protegido con GNP Seguros?</h3>
                  <p>En un país como México, presenciar un accidente vial o siniestro es el pan de todos los días de los
                    conductores, pues existen miles de riesgos a los que tu auto se expone en todo momento a pesar de una
                    buena conducción.</p>
                  <p>Seguros para Autos GNP están conscientes de todas estas problemáticas, es por ello que han decidido
                    brindar respaldo a sus asegurados ante diversos riesgos, y algunos de ellos son:</p>
                  <ul>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Choques y
                      volcaduras. </li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Robo total del
                      auto. </li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Robo de
                      autopartes y equipo especial.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Emergencias
                      Médicas. </li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Daños a
                      terceras personas. </li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Daños por
                      lluvia y granizo. </li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Explosiones e
                      incendios. </li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Inundaciones y
                      rayos. </li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Vandalismo,
                      disturbios y protestas. </li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Ataques
                      personales y asaltos. </li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Desastres
                      naturales como sismos, huracanes, tornado, erupción volcánica, maremoto, derrumbe, avalancha,
                      hundimientos, etc. </li>
                  </ul>
                  <p>Con una Póliza de Seguro GNP podrás salir librado de cualquiera de estas situaciones mencionadas,
                    pues contarás con un respaldo económico y de distintos servicios para que tu auto pueda repararse y
                    seguir funcionando como nuevo.</p>
                </div>
              </div>
            </section>
            <!-- Requisitos -->
            <section>
              <div class="row">
                <div class="col-12 col-md-2">
                  <!-- <img src="/img/pixel.svg" id="foco" :alt="$store.state.config.k7" class="d-block sprite" > -->
                </div>
                <div class="col-md-9">
                  <h3>¿Qué se necesita para contratar un Seguro de Coche con GNP Seguros?</h3>
                  <p>Ya sabrás que todas las compañías de seguros necesitan de ciertos requisitos para poder iniciar con
                    los procesos de contratación de un seguro de auto, por lo que a continuación te mostraremos qué es lo
                    que necesitas para poder contratar tu Póliza de Seguro GNP.</p>
                  <ul>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Licencia de
                      conducir vigente.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Contar con un
                      automóvil o pick - up de hasta 3.5 Toneladas y de uso particular.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;El contratante
                      deberá ser persona física.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Nombre del
                      contratante, Registro Federal de Contribuyentes (RFC), fecha de nacimiento, edad y género del
                      conductor habitual, correo electrónico, domicilio y teléfono.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Tipo de
                      vehículo, año, modelo, marca, submarca, versión, código postal, placas, número de serie y de motor.
                    </li>
                  </ul>
                  <p>Sin embargo, GNP Seguro de Auto no aplicará para:</p>
                  <ul>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Camiones de
                      más de 3,5 toneladas, tractocamiones, autobuses, remolques y de renta diaria.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Transporte
                      privado, público de carga y público federal de carga.</li>
                    <li><img src="/img/pixel.svg" width="17" height="17" alt="check" class="sprite" />&nbsp;Flotillas.
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- Contrata -->
            <section>
              <div class="row">
                <div class="col-12 col-md-2">
                  <!-- <img src="/img/pixel.svg" id="foco" :alt="$store.state.config.k7" class="d-block sprite" > -->
                </div>
                <div class="col-md-9">
                  <h4>¡Cotiza y contrata con GNP Seguros Auto!</h4>
                  <p>Si eres un conductor responsable, ya te habrás dado cuenta de lo necesario que es comparar y cotizar
                    Seguros de Autos GNP.</p>
                  <p>GNP Seguros te ofrece distintos planes y beneficios para la protección de tu vehículo, por lo que de
                    manera muy sencilla y rápida puedes realizar la cotización y contratación de la cobertura que elijas.
                  </p>
                  <p>Con el Cotizador de Seguros de Autos GNP te darás cuenta de la facilidad con la que podrás encontrar
                    el seguro de auto ideal para tu vehículo, siempre adaptándose a tus necesidades y presupuesto.</p>
                  <p>Ingresa a Cotizar Seguro GNP y disfruta de todos los beneficios que te ofrecen desde el momento de la
                    contratación.</p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/autosForm.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js"; import telefonoService from "~/plugins/telefonoService.js";

export default {
  layout: "index",
  components: {
    formulario,cardpromo
  },
  beforeCreate() {
    this.$store.state.config.aseguradora = "GNP";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.grupoCallback = "VN GNP";
    this.$store.state.config.from = "GNP AUTOS BRANDING";
    this.$store.state.config.dominioCorreo = "AUTOS|GNP|gnpsegurosautos-com";
    this.$store.state.config.idPagina = 48;
    this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    this.$store.state.config.idSubRamo = 40;
    this.$store.state.config.idCampana = 2;
      this.$store.state.config.idMedioDifusion = 16;
      this.$store.state.config.idMedioDifusionInteraccion = 2314;
      this.$store.state.config.idMedioDifusionEcommerce = 1764;
  
    this.$store.state.config.idCampana = 2;

    //POR FRONT
    this.$store.state.config.titulo = "GNP Seguros de Autos"; // INDEX
    this.$store.state.config.parrafo = " "; //CONTENIDO AGREGADO A LA PROMO EN H1 //CAMBIA DE ALERTA DEFAULT A PROMO
    this.$store.state.config.promo = " ";
    this.$store.state.config.adic = " ";
    this.$store.state.config.dominio = "gnpsegurosautos.com";
    this.$store.state.config.domV2 = "gnpautos.mx";
    this.$store.state.config.domV3 = "gnpautoseguro.mx";
    this.$store.state.config.k1 = "GNP Seguros";
    this.$store.state.config.k2 = "Seguros GNP";
    this.$store.state.config.k3 = "Seguros de autos GNP";
    this.$store.state.config.k4 = "GNP Seguros Autos";
    this.$store.state.config.k5 = "GNP Seguros México";
    this.$store.state.config.k6 = "Seguros GNP Autos";
    this.$store.state.config.k7 = "Cotiza Seguros de Autos GNP";
    this.$store.state.config.k8 = " ";
    this.$store.state.config.k9 = " ";
    this.$store.state.config.urlNext = "/thank-you";

    this.$store.state.config.clase2="col-6 col-md-6 col-lg-6"
    this.$store.state.config.clase3="col-6 col-md-6 col-lg-6"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.formg=1;
     // SEO METAS Y KEYWORDS
        this.$store.state.config.canonicalSeo="https://gnpsegurosautos.com/";
        this.$store.state.config.titleSeo= '"🥇GNP Seguros - Cotiza Seguros de Autos GNP en Segundos"';
        this.$store.state.config.keywordSeo= "GNP, GNP Seguros, Seguros GNP, Seguro de Autos GNP, GNP Seguros de Autos, Seguro de Auto GNP, GNP Seguro de Auto, Seguro de Auto GNP, Cotizador de Seguros de Autos GNP, GNP Seguros Auto, GNP Siniestros, GNP Agentes, GNP Seguros Siniestros, GNP México, Cotizar Seguros GNP, GNP Autos, Cotizar Seguro de Auto GNP, Seguros para Autos GNP, Póliza de Seguro GNP.";
        this.$store.state.config.descriptionSeo= 'GNP Seguros te ofrece distintos planes de protección para que elijas el que más te convenga. ¡Cotiza y contrata en segundos tu Seguro de Auto GNP!';
        //
  },
  methods: {
    pantall:function(x) {
      var x = window.matchMedia("(max-width: 700px)")
      if (x.matches) { // If media query matches
      // console.log("aqui match",x)
        this.$store.state.config.formg=1;
      } else {
        this.$store.state.config.formg=0;
      }
    },
  },
  mounted(){
    this.pantall();
    window.addEventListener('resize', this.pantall);

  },
  async created() {  
    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        // //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
        // //console.log( telefono.data.telefono)
      }	
    } catch (error) {
      console.log(error);
    }

    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-6 col-sm-6 col-md-6 col-lg-6";
        this.$store.state.config.clase3 ="col-6 col-sm-6 col-md-6 col-lg-6";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
  head() {
    return {
        title: this.$store.state.config.titleSeo,
        meta: [
          {hid: 'keywords', name: 'keywords', content:this.$store.state.config.keywordSeo},
          {hid: 'description', name: 'description', content: this.$store.state.config.descriptionSeo},
          {hid: 'canonical', rel: 'canonical', href: this.$store.state.config.canonicalSeo},
          {hid: 'author', name: 'author', content: 'linkedin | Abigail-Flores'},
          {hid: 'robots', name:'robots', content:'index,follow'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          //SEO
          {hid: 'fb:app_id', name:'fb:app_id', property:'fb:app_id', content: '' },
          {hid: 'og:url', name: 'og:url', property:'og:url', content: this.$store.state.config.canonicalSeo},
          {hid: 'og:type', name: 'og:type', property:'og:type', content: 'website' },
          {hid: 'og:title', name: 'og:title', property:'og:title', content: this.$store.state.config.titleSeo },
          {hid: 'og:keywords', name: 'og:keywords', property:'og:keywords', content: this.$store.state.config.keywordSeo },
          {hid: 'og:description', name: 'og:description', property:'og:description', content: this.$store.state.config.descriptionSeo },
          {hid: 'og:image', name: 'og:image', property:'og:image', content: './img/banner.jpg' },
          {hid: 'og:alt', name: 'og:alt', property:'og:alt', content: this.$store.state.config.titleSeo },
        ],
    };
  }
};
</script>
