<template>
  <div class="col-md-10 col-lg-9 col-12 m-auto px-1">
    <div class="row cardpromo mx-auto mt-2">
      <div
        class="fichalogo text-center"
        style="position:relative"
        :class="this.$store.state.config.clase2"
      >
        <img
          src="/img/gnp-logo.png"
          alt="aseguradora"
          width="140"
          height="55"
          class="img-fluid my-1 my-md-3 my-lg-1 p-1"
        />
        <img
        v-if="this.$store.state.config.promoSpecial"
          :src="this.$store.state.config.promoImg"
          alt="logo promocion"
          class="mt-2 img-fluid promocion"
          width="70"
          height="40"
        />
      </div>
      <!-- <div
        class="col-2 col-sm-2 col-md-2 col-lg-2 bg-white"
        v-if="this.$store.state.config.promoSpecial"
      >
        <img
          :src="this.$store.state.config.promoImg"
          alt="logo promocion"
          class="mt-2 img-fluid logo-promo"
          width="70"
          height="40"
        />
      </div> -->
      <div class="fichadesc py-lg-2" :class="this.$store.state.config.clase3">
        <p class="mb-0 desct">{{ this.$store.state.config.promoLabel }} {{ this.$store.state.config.desc }}</p>
        <p class="mb-0 desct2">
          {{ this.$store.state.config.msi }}  {{ this.$store.state.config.extraMsg }}
        </p>
      </div>
    </div>
  </div>
</template>
<script> 

</script>

