<template>
  <form
    class="style-form"
    id="formcotizar"
    method="POST"
    action
    @submit.prevent="validateBeforeSubmit('formcotizar')"
    novalidate
  >
    <p class="text-center my-2 datos">
      Ingresa los datos de tu automóvil y conductor
    </p>
    <!-- MULTISELECT  -->
    <!--<div class="row" v-if="this.$store.state.config.formg === 0">
      <div class="col-12 mb-1 pad2">
        <input id="marca" name="marca" required="" type="hidden" @change="warningReq('marcaReq')"
          v-model="$store.state.formData.marca" />
        <input id="modelo" name="modelo" required="" type="hidden" @change="warningReq('modeloReq')"
          v-model="$store.state.formData.modelo" />
        <input id="descripcion" name="descripcion" required="" type="hidden" @change="warningReq('descripcionReq')"
          v-model="$store.state.formData.descripcion" />
        <input id="detalle" name="detalle" required="" type="hidden" @change="warningReq('detalleReq')"
          v-model="$store.state.formData.detalle" />
        <multiselect ref="multiselect" :allow-empty="false" v-model="value" class="form-control p-0 bg-footer mb-1"
          required="" deselectGroupLabel="" :searchable="false" selectGroupLabel="" tagPlaceholder="" deselectLabel=""
          selectLabel="" :options="options" :multiple="true" :close-on-select="ready" :clear-on-select="true"
          :hide-selected="true" :preserve-search="false" :placeholder="placeholderSelect" :loading="isLoading"
          label="text" track-by="id" open-direction="bottom" :taggable="true" @select="dispatchAction"
          @close="isOpen = false" @open="isOpen = true">
          <template slot="tag" slot-scope="props"><span class="tag">{{ props.option.text
          }}<a class="custom__remove" style="cursor: pointer" @click="
  props.remove(props.option);
refreshSomething(props.option);
                  ">✖️ <span>&nbsp;</span>
              </a>
            </span></template>
        </multiselect>
        <small style="display: none; color: red" class="marcaReq"><span>El campo marca es requerido</span></small>
        <small style="display: none; color: red" class="modeloReq"><span>El campo modelo es requerido</span></small>
        <small style="display: none; color: red" class="descripcionReq"><span>El campo descripcion es
            requerido</span></small>
        <small style="display: none; color: red" class="detalleReq"><span>El campo subDescripción es
            requerido</span></small>
      </div>
    </div>-->
    <!-- SELECT SEPARADO -->
    <div class="row">
      <!-- MARCA -->
      <div class="col-6 form">
        <select
          title="marcaCel"
          name="marcaCel"
          id="marcaCel"
          class="form-control form-select bg-footer mb-2"
          v-model="$store.state.formData.marca"
          @change="getModelos(), myFocus('modeloCel')"
          required=""
        >
          <option value>Marca</option>
          <option v-for="marca in formData.marcas" v-bind:key="marca.text">
            {{ marca.text }}
          </option>
        </select>
        <small style="display: none; color: red" class="marcaCelReq">
          <span>El campo marca es requerido</span></small
        >
      </div>
      <!-- MODELO -->
      <div class="col-6 form">
        <select
          title="modeloCel"
          name="modeloCel"
          id="modeloCel"
          required=""
          v-model="$store.state.formData.modelo"
          class="form-control form-select bg-footer mb-2"
          @change="getDescripciones(), myFocus('descripcionCel')"
        >
          <option value>Modelo</option>
          <option v-for="modelo in formData.modelos" v-bind:key="modelo.text">
            {{ modelo.text }}
          </option>
        </select>
        <small style="display: none; color: red" class="modeloCelReq"
          ><span>El campo modelo es requerido</span></small
        >
      </div>
      <div class="col-6 form">
        <select
          style="overflow: hidden; width: 100%"
          title="descripcionCel"
          name="descripcionCel"
          id="descripcionCel"
          required=""
          class="form-control form-select bg-footer mb-2"
          @change="getSubDescripciones(), myFocus('subDescripcionCel')"
          v-model="$store.state.formData.descripcion"
        >
          <option value>Submarca</option>
          <option
            v-for="descripcion in formData.descripciones"
            v-bind:key="descripcion.text"
          >
            {{ descripcion.text }}
          </option>
        </select>
        <small style="display: none; color: red" class="descripcionCelReq"
          ><span>El campo Submarca es requerido</span></small
        >
      </div>

      <!-- SUBDESCRIPCION -->
      <div class="col-6 form">
        <select
          title="subDescripcionCel"
          name="subDescripcionCel"
          id="subDescripcionCel"
          required=""
          style="overflow: hidden; width: 100%"
          class="form-control mb-2 form-select bg-footer subDescripcion2"
          @change="
            detalleSelected(),
              myFocus('edad'),
              warningReq('subDescripcionCelReq')
          "
          v-model="$store.state.formData.clave"
        >
          <option value>Descripción</option>
          <option
            v-for="subdescripcion in formData.subDescripciones"
            v-bind:key="subdescripcion.text"
            :value="subdescripcion.id"
          >
            {{ subdescripcion.text }}
          </option>
        </select>
        <small style="display: none; color: red" class="subDescripcionCelReq"
          ><span>El campo Descripción es requerido</span></small
        >
      </div>
    </div>

    <!-- EDAD -->
    <div class="row">
      <!-- <p class="text-center my-2 datos d-none d-md-block">
        <span class="circulo">2</span> Ingresa los datos del Conductor
      </p> -->
      <div class="col-12 form">
        <select
          title="edad"
          name="edad"
          id="edad"
          required=""
          class="form-control form-select fs14 bg-footer mb-2 form-style"
          style="overflow: hidden; width: 100%"
          @change="
            calculaFechaNacimiento(), myFocus('genero'), warningReq('edadReq')
          "
          v-model="$store.state.formData.edad"
        >
          <option value selected="Edad">Edad del conductor</option>
          <option v-for="e in edades" v-bind:key="e">{{ e }}</option>
        </select>
        <small style="display: none; color: red" class="edadReq"
          ><span>El campo edad es requerido</span></small
        >
      </div>
    </div>
    <!-- GENERO -->
    <div class="row">
      <div class="col-6 form">
        <select
          title="genero"
          name="genero"
          required=""
          v-model="$store.state.formData.genero"
          id="genero"
          class="form-control form-select mb-2 mb-md-2 bg-footer"
          style="overflow: hidden; width: 100%"
          @change="myFocus('cp'), warningReq('generoReq')"
        >
          <option value>Género</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
        <small style="display: none; color: red" class="generoReq"
          ><span
            >&nbsp;&nbsp;&nbsp;&nbsp;El campo género es requerido</span
          ></small
        >
      </div>
      <!-- CODIGO POSTAL -->
      <div class="col-6 form">
        <div class="form-floating">
          <input
            title="cp"
            type="tel"
            name="cp"
            id="cp"
            required=""
            pattern="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$"
            maxlength="5"
            minlength="5"
            v-model="cp"
            onKeyPress="if(this.value.length === 5) return false;"
            class="form-control bg-footer mb-2 mb-md-2"
            placeholder="Código Postal"
            @change="myFocus('nombre'), warningReq('cpReq')"
          />
          <label for="cp">Código postal</label>
          <small style="display: none; color: red" class="cpReq"
            ><span>El campo código postal es requerido</span></small
          >
          <small style="display: none; color: #ff6e00" class="cpInc"
            ><span style="color: #ff6e00"
              >Escribe tu código postal a 5 dígitos</span
            ></small
          >
        </div>
      </div>
    </div>
    <!-- NOMBRE -->
    <div class="row">
      <!-- <p class="text-center my-2 d-md-none datos">
        <span class="circulo">2</span> Ingresa los datos del Conductor
      </p> -->
      <!-- <p class="text-center my-2 datos">
        <span class="circulo">2</span> Te enviaremos la cotización
      </p> -->
      <div class="col-12 form">
        <div class="form-floating">
          <input
            title="nombre"
            type="text"
            name="nombre"
            id="nombre"
            required=""
            pattern="[a-zA-Z\sñÑáéíóúÁÉÍÓÚ\s\.]{3,50}"
            v-model="nombre"
            class="form-control mb-2 mb-md-2 bg-footer"
            placeholder="Nombre"
            @change="space('nombre')"
          />
          <label for="nombre">Nombre</label>
          <small style="display: none; color: red" class="nombreReq"
            ><span>El campo nombre es requerido</span></small
          >
          <small style="display: none; color: #ff6e00" class="nombreInc"
            ><span style="color: #ff6e00"
              >Escribe el nombre correcto</span
            ></small
          >
        </div>
      </div>
    </div>
    <!-- CORREO -->
    <div class="row">
      <div class="col-12 col-lg-6 form">
        <div class="form-floating">
          <input
            title="correo"
            type="email"
            name="correo"
            id="correo"
            required=""
            pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
            minlength="8"
            maxlength="50"
            v-model="correo"
            class="form-control mb-2 mb-md-2 bg-footer"
            placeholder="Email"
            @change="space('correo')"
          />
          <label for="correo">Email</label>
          <small style="display: none; color: red" class="correoReq"
            ><span>El campo e-mail es requerido</span></small
          >
          <small style="display: none; color: #ff6e00" class="correoInc"
            ><span style="color: #ff6e00"
              >Ejemplo: tuemail@email.com</span
            ></small
          >
        </div>
      </div>
      <!-- TELEFONO -->
      <div class="col-12 col-lg-6 form">
        <div class="form-floating">
          <input
            title="telefono"
            type="tel"
            name="telefono"
            id="telefono"
            required=""
            pattern="^(0*[,.]*[0-9][0-9]*([,.][0-9]+)*|[0-9]?[,.][0-9]*[1-9][0-9]*)?\d{10}$"
            maxlength="10"
            minlength="10"
            v-model="telefono"
            onKeyPress="if(this.value.length === 10) return false;"
            class="form-control mb-2 mb-md-2 bg-footer"
            placeholder="Teléfono"
            @change="myFocus('btnCotizarAuto')"
          />
          <label for="telefono">Teléfono</label>
          <small style="display: none; color: red" class="telefonoReq"
            ><span>El campo teléfono es requerido</span></small
          >
          <small style="display: none; color: #ff6e00" class="telefonoInc"
            ><span style="color: #ff6e00"
              >Escribe tu número a 10 dígitos</span
            ></small
          >
        </div>
      </div>
      <input
        type="text"
        id="gclid_field"
        name="gclid_field"
        value=""
        style="height: 0px; border: none; visibility: hidden"
      />
    </div>
    <!-- CHECKBOX -->
    <div class="row">
      <div class="col-12 text-center">
        <privacidad />
      </div>
    </div>
    <div class="row">
      <div class="col-12 btnform">
        <button id="btnCotizarAuto" type="submit" class="btn b-cotizar">
          <b>Cotiza Gratis</b>
          <img
            src="/img/pixel.svg"
            width="25"
            height="25"
            id="arrow"
            :alt="$store.state.config.asgNombre"
            class="sprite"
            style="width: 25px; height: auto"
          />
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import privacidad from "~/components/common/CheckboxPrivacidad.vue";
import catalogosDirectos from "~/plugins/catalogosDirectos";
import axios from "axios";
import Multiselect from "vue-multiselect";
//import marcas from "~/script/gnp.json";
const catalogoDirecto = new catalogosDirectos();

export default {
  props: {
    config: Object,
  },
  components: {
    privacidad,
    Multiselect,
  },
  name: "",
  data() {
    return {
      formData: {
        marcas: [],
        modelos: [],
        descripciones: [],
        subDescripciones: [],
        detalles: [],
        edades: [],
      },
      accessToken: "",
      stepLocal: 0,
      oneClick: false,
      block: "['backspace']",
      isOpen: false,
      selected: {},
      placeholderSelect: "Marca",
      edad: "",
      edades: [],
      genero: "",
      telefono: "",
      cp: "",
      ready: false,
      isLoading: false,
      detalles: [],
      cp: "",
      firstStep: true,
      detalleS: [],
      aseguradora: "",
      x: {},
      cotizacionResponse: {},
      descuentoS: "0",
      value: [],
      options: [],
      cotizaciones: [],
      email: "",
      filteredOptions: [],
      nombre: "",
      correo: "",
      marca: "",
      modelo: "",
      descripcion: "",
      formValido: 0,
      warning_req: [
        { id: "marcaReq" },
        { id: "modeloReq" },
        { id: "descripcionReq" },
        { id: "detalleReq" },
        { id: "marcaCelReq" },
        { id: "modeloCelReq" },
        { id: "descripcionCelReq" },
        { id: "subDescripcionCelReq" },
        { id: "edadReq" },
        { id: "generoReq" },
        { id: "cpReq" },
        { id: "nombreReq" },
        { id: "correoReq" },
        { id: "telefonoReq" },
      ],
    };
  },
  watch: {
    telefono: function () {
      //version2
      if (this.telefono.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.telefono.substring(
          this.telefono.length - 1,
          this.telefono.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
          if (this.telefono.length == 10) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("btnCotizarAuto");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = "";
        //Oculta advertencia INCORRECTO
        this.warningView("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("telefonoReq", "block");
      }
    },
    nombre: function () {
      //version2
      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if (this.nombre.length > 2) {
        //un caracter al menos
        var ultimoCaracter = this.nombre.substring(
          this.nombre.length - 1,
          this.nombre.length
        );
        var result = this.checkCaracter(ultimoCaracter, "letra");
        if (result) {
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2, this.nombre, null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,
            this.nombre,
            "nombre"
          );
        } else {
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length - 1);
        }
      } else {
        this.$store.state.formData.nombre = "";
        //Oculta advertencia INCORRECTO
        this.warningView("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("nombreReq", "block");
      }
    },
    correo: function () {
      //version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim(); //no funciona en el campo tipo email
      if (this.correo.length > 0) {
        //un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3, this.correo, null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
          this.correo,
          "correo"
        );
      } else {
        this.$store.state.formData.correo = "";
        //Oculta advertencia INCORRECTO
        this.warningView("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("correoReq", "block");
      }
    },
    cp: function () {
      //version2
      if (this.cp.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.cp.substring(
          this.cp.length - 1,
          this.cp.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(4, this.cp, "33333");
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){5}$/, this.cp, "cp");
          if (this.cp.length == 5) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("nombre");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.cp = this.cp.substring(0, this.cp.length - 1);
        }
      } else {
        this.$store.state.formData.cp = "";
        //Oculta advertencia INCORRECTO
        this.warningView("cpInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("cpReq", "block");
      }
    },
  },
  beforeCreate() {
    //console.log("BEFORE CREATED...");
    this.$store.commit("validarTokenCore");
  },
  async created() {
    this.$store.state.formData.utmSource = this.$route.query?.utm_source
      ? this.$route.query.utm_source
      : "No params detected";
    this.$store.state.formData.utmMedium = this.$route.query?.utm_medium
      ? this.$route.query.utm_medium
      : "No params detected";
    this.$store.state.formData.utmCampaign = this.$route.query?.utm_campaign
      ? this.$route.query.utm_campaign
      : "No params detected";
    this.$store.state.formData.utmId = this.$route.query?.utm_id
      ? this.$route.query.utm_id
      : "No params detected";
    if (!this.$store.state.config.reload) {
      this.$store.state.config.reload = true;
      if (typeof window !== "undefined") {
        window.location.reload();
      }
    }
    if (typeof window !== "undefined") {
      this.$store.state.formData.urlOrigen = window.location.href;
    }

    this.formData.marcas.length = 0;
    this.formData.modelos.length = 0;
    this.formData.descripciones.length = 0;
    this.formData.subDescripciones.length = 0;
    this.formData.detalles.length = 0;
    this.formData.edades.length = 0;
    this.$store.state.formData.aseguradora =
      this.$store.state.config.aseguradora;
    this.getMarcas();
    this.getEdades();

    this.$store.state.imgAseg = "ELAGUILA";
    this.$store.state.promoRecomendada = "-35% de descuento";
    this.$store.state.msipromo = "+ 3, 6 y 12 Meses Sin Intereses";
    //this.refreshMarcas();
    this.llenarEdades();

    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      await this.$store
        .dispatch("getToken")
        .then((resp) => {
          if (typeof resp.data == "undefined") {
            this.accessToken = resp.accessToken;
          } else if (typeof resp.data.accessToken != "undefined") {
            this.accessToken = resp.data.accessToken;
          }
        })
        .catch((error) => {});
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
  },
  methods: {
    // SELECT SEPARADO
    getMarcas: function () {
      catalogoDirecto
        .marcas()
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.marcas = response;
          } else {
            this.formData.marcas = response.data;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al cargar las marcas");
          this.store.state.idEndPoint = 445;
          var data = {
            aseguradora: this.store.state.formData.aseguradora,
          };
        });
    },
    getModelos: function () {
      document.getElementById("modeloCel").focus();
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.modelos.length = 0;
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.warningReq("marcaCelReq");
      catalogoDirecto
        .modelos(this.$store.state.formData.marca)
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.modelos = response;
          } else {
            this.formData.modelos = response.data;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al cargar los modelos");
          this.$store.state.idEndPoint = 448;
          var data = {
            aseguradora: this.$store.state.formData.aseguradora,
            marca: this.$store.state.formData.marca,
          };
          this.catchStatusAndMessage(error, data);
        });
    },
    getDescripciones: function () {
      document.getElementById("descripcionCel").focus();
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.warningReq("modeloCelReq");
      catalogoDirecto
        .submarcas(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo
        )
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.descripciones = response;
          } else {
            this.formData.descripciones = response.data;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al cargar las subMarcas");
          this.$store.state.idEndPoint = 447;
          var data = {
            aseguradora: this.$store.state.formData.aseguradora,
            marca: this.$store.state.formData.marca,
            modelo: this.$store.state.formData.modelo,
          };
          this.catchStatusAndMessage(error, data);
        });
    },
    getSubDescripciones: function () {
      document.getElementById("subDescripcionCel").focus();
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.subDescripciones.length = 0;

      axios.get("https://api.ipify.org?format=json").then((resp) => {
        if (typeof resp.data == "undefined") {
          this.$store.state.config.ipCliente = resp.ip;
        } else if (typeof resp.data.ip != "undefined") {
          this.$store.state.config.ipCliente = resp.data.ip;
        }
      });

      axios
        .get(
          `${process.env.promoCore}/v1/discount/GNP?business=AS&service=PARTICULAR`
        )
        .then((resp) => {
          if (parseInt(resp.data.discount)) {
            this.$store.state.config.descuento = resp.data.discount;
          } else {
            this.$store.state.config.descuento = 0;
          }

          if (parseInt(resp.data.delay)) {
					this.$store.state.config.time = resp.data.delay
					} else {
					this.$store.state.config.time = 5000
					}

        })
        .catch((err) => {
          this.$store.state.config.descuento = 0;
          this.$store.state.config.time = 5000

        });

      this.warningReq("descripcionCelReq");
      catalogoDirecto
        .descripciones(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion
        )
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.subDescripciones = response;
          } else {
            this.formData.subDescripciones = response.data;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al cargar las descripciones");
          this.$store.state.idEndPoint = 449;
          var data = {
            aseguradora: this.$store.state.formData.aseguradora,
            marca: this.$store.state.formData.marca,
            modelo: this.$store.state.formData.modelo,
            descripcion: this.$store.state.formData.descripcion,
          };
          this.catchStatusAndMessage(error, data);
        });
    },
    detalleSelected(evt) {
      // debugger
      let x = document.querySelector(".subDescripcion2");
      // console.log(x);
      let i = x.selectedIndex;
      // console.log(i);
      if (this.$store.state.formData.clave != "") {
        this.$store.state.formData.detalle = x.options[i].text;
      } else {
        this.$store.state.formData.detalle = "";
      }
      // this.myFocus("edad");
      this.warningReq("subDescripcionCelReq");
    },
    refreshMarcas: function () {
      this.options = [];
      this.isLoading = true;
      this.formData.marcas.forEach((el) => {
        this.options.push({ id: "m" + el.id, text: el.text });
      });
      this.isLoading = false;
      this.placeholderSelect = "Marca";
    },
    refreshModelos: function () {
      this.options = [];
      this.isLoading = true;
      catalogoDirecto
        .modelos(this.$store.state.formData.marca)
        .then((resp) => {
          // this.options = resp.data;
          resp.data.forEach((el) => {
            this.options.push({ id: "o" + el.id, text: el.text });
          });
          this.isLoading = false;
          this.placeholderSelect = "Selecciona un modelo";
        })
        .catch((error) => {
          var status = error.status ? error.status : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: error.config.params,
              })
            : "ERR_CONNECTION_REFUSED";
        });
      // this.warningReq('marcaReq')
    },
    refreshDescripciones: function () {
      this.options = [];
      this.isLoading = true;
      catalogoDirecto
        .submarcas(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo
        )
        .then((resp) => {
          // this.options = resp.data;
          resp.data.forEach((el) => {
            this.options.push({ id: "d" + el.id, text: el.text });
          });
          this.isLoading = false;
          this.placeholderSelect = "descripcion";
        })
        .catch((error) => {
          var status = error.status ? error.status : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: error.config.params,
              })
            : "ERR_CONNECTION_REFUSED";
        });
    },
    refreshSubdescripciones: function () {
      this.options = [];
      this.isLoading = true;

      axios.get("https://api.ipify.org?format=json").then((resp) => {
        if (typeof resp.data == "undefined") {
          this.$store.state.config.ipCliente = resp.ip;
        } else if (typeof resp.data.ip != "undefined") {
          this.$store.state.config.ipCliente = resp.data.ip;
        }
      });

      axios
        .get(
          `${process.env.promoCore}/v1/discount/GNP?business=AS&service=PARTICULAR`
        )
        .then((resp) => {
          if (parseInt(resp.data.discount)) {
            this.$store.state.config.descuento = resp.data.discount;
          } else {
            this.$store.state.config.descuento = 0;
          }
        })
        .catch((err) => {
          this.$store.state.config.descuento = 0;
        });

      catalogoDirecto
        .descripciones(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion
        )
        .then((resp) => {
          // this.options = resp.data;
          resp.data.forEach((el) => {
            this.options.push({ id: "s" + el.id, text: el.text });
          });
          this.isLoading = false;
          this.placeholderSelect = "subdescripcion";
        })
        .catch((error) => {
          var status = error.status ? error.status : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: error.config.params,
              })
            : "ERR_CONNECTION_REFUSED";
        });
    },
    // MULTISELECT
    dispatchAction(newVal) {
      // console.log(newVal);
      this.options = [];

      if (newVal.id.charAt(0) === "m") {
        this.options = [];
        this.marca = newVal.text;
        this.$store.state.formData.marca = newVal.text;
        this.selected = {};
        this.refreshModelos();
        this.warningReq("marcaReq");
        // this.stepLocal = 1;
      }
      if (newVal.id.charAt(0) === "o") {
        this.options = [];
        this.modelo = newVal.text;
        this.selected = {};
        this.$store.state.formData.modelo = newVal.text;
        this.refreshDescripciones();
        this.warningReq("modeloReq");
        // this.stepLocal = 2;
      }
      if (newVal.id.charAt(0) === "d") {
        this.options = [];
        this.descripcion = newVal.text;
        this.$store.state.formData.descripcion = newVal.text;
        this.selected = {};
        this.refreshSubdescripciones();
        this.warningReq("descripcionReq");
        // this.stepLocal = 3;
      }
      if (newVal.id.charAt(0) === "s") {
        this.detalle = newVal.text;
        this.$store.state.formData.detalle = newVal.text;
        this.$store.state.formData.clave = newVal.id.substring(1);
        this.myFocusMulty("edad");
        this.placeholderSelect = "";
        this.isLoading = false;
        this.warningReq("detalleReq");
      }
    },
    refreshSomething: function (deleted) {
      console.log("refreshSomething");
      // console.log(deleted);

      if (deleted.id.charAt(0) === "m") {
        console.log("Elimino una marca");
        this._self.limpiarMarcas();
        return;
      }
      if (deleted.id.charAt(0) === "o") {
        console.log("Elimino un modelo");
        this.limpiarModelos();
        return;
      }
      if (deleted.id.charAt(0) === "d") {
        console.log("Elimino un tipo");
        this.limpiarDescripciones();
        return;
      }
      if (deleted.id.charAt(0) === "s") {
        console.log("Elimino una detalle");
        this.limpiarsubDescripcion();
        return;
      }
    },
    limpiarMarcas: function () {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.marca = "";
      this.ready = false;
      this.value = [];
      this.refreshMarcas();
      this.warningReq("marcaReq");
      this.warningReq("modeloReq");
    },
    limpiarModelos: function () {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.modelo = "";
      this.ready = false;
      var x = [];
      for (var i in this.value)
        if (this.value[i].id.charAt(0) == "m") x.push(this.value[i]);
      this.value = x;
      this.refreshModelos();
      this.warningReq("modeloReq");
      this.warningReq("descripcionReq");
    },
    limpiarDescripciones() {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.descripcion = "";
      this.ready = false;
      var x = [];
      for (var i in this.value)
        if (
          this.value[i].id.charAt(0) == "m" ||
          this.value[i].id.charAt(0) == "o"
        )
          x.push(this.value[i]);
      this.value = x;
      this.refreshDescripciones();
      this.warningReq("descripcionReq");
      this.warningReq("detalleReq");
    },
    limpiarsubDescripcion() {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.ready = false;
      var x = [];
      for (var i in this.value)
        if (
          this.value[i].id.charAt(0) == "m" ||
          this.value[i].id.charAt(0) == "o" ||
          this.value[i].id.charAt(0) == "d"
        )
          x.push(this.value[i]);
      this.value = x;
      this.refreshSubdescripciones();
      this.warningReq("detalleReq");
    },
    // FIN MULTISELECT
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },

    llenarEdades() {
      for (var i = 18; i <= 99; i++) {
        this.edades.push(i);
      }
    },
    getEdades: function () {
      this.formData.edades = Array.from(Array(80).keys(), (n) => n + 17 + 1);
    },
    validateBeforeSubmit() {
      // debugger
      this.formValido = 1;
      for (var w in this.warning_req) {
        //w=indices
        this.warningReq(this.warning_req[w].id);
      }
      if (this.formValido) {
        this.$store.state.config.loading = true;
        document.getElementById("btnCotizarAuto").disabled = true;
        $nuxt._router.push({ path: this.$store.state.config.urlNext });
      } else {
        document.getElementById("btnCotizarAuto").disabled = false;
      }
    },
    myFocus: function (id) {
      setTimeout(alertFunc, 1000);
      function alertFunc() {
        if (typeof document != "undefined") {
          var e = document.getElementById(id);
          if (e) {
            e.focus();
          }
        }
      }
    },
    myFocusMulty: function (id) {
      document.getElementById(id).focus();
    },
    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad).toString()
      ).toString("dd/MM/yyyy");
    },
    warningReq: function (idWarning) {
      // console.log(idWarning);
      // console.log("idWarning");
      var id = idWarning.substring(0, idWarning.length - 3); // detalle Req
      var elemento = document.getElementById(id);
      if (elemento) {
        // debugger;
        //valida que exista
        //ocultar warningReq
        var req = document.getElementsByClassName(idWarning);
        if (typeof req[0] != "undefined") {
          req[0].style.display = "none";
        }
        //catalogos
        // if (id == "marca" && this.$store.state.formData.marca == "") {
        //   var req = document.getElementsByClassName(idWarning);
        //   if (typeof req[0] != "undefined") {
        //     req[0].style.display = "block";
        //     this.formValido = 0;
        //   }
        // }
        if (this.$store.state.formData.marca == "") {
          // debugger
          if (id == "marca") {
            var req = document.getElementsByClassName(idWarning);
            if (typeof req[0] != "undefined") {
              req[0].style.display = "block";
              this.formValido = 0;
            }
          } else if (id == "marcaCel") {
            // debugger
            if (typeof req[0] != "undefined") {
              req[0].style.display = "block";
              this.formValido = 0;
            }
          }
        }
        // if (
        //   id == "modelo" &&
        //   this.$store.state.formData.modelo == "" &&
        //   this.modelo == "" &&
        //   this.$store.state.formData.marca != ""
        // ) {
        //   this.warningView(idWarning, "block");
        //   this.formValido = 0;
        // }
        if (
          this.$store.state.formData.modelo == "" &&
          // this.modelo == "" &&
          this.$store.state.formData.marca != ""
        ) {
          // debugger
          if (id == "modelo") {
            var req = document.getElementsByClassName(idWarning);
            if (typeof req[0] != "undefined") {
              req[0].style.display = "block";
              this.formValido = 0;
            }
          } else if (id == "modeloCel") {
            // debugger
            if (typeof req[0] != "undefined") {
              req[0].style.display = "block";
              this.formValido = 0;
            }
          }
        }
        // if (
        //   id == "descripcion" &&
        //   this.$store.state.formData.descripcion == "" &&
        //   this.$store.state.formData.modelo != ""
        // ) {
        //   this.warningView(idWarning, "block");
        //   this.formValido = 0;
        // }
        if (
          this.$store.state.formData.descripcion == "" &&
          this.$store.state.formData.modelo != ""
        ) {
          // debugger
          if (id == "descripcion") {
            var req = document.getElementsByClassName(idWarning);
            if (typeof req[0] != "undefined") {
              req[0].style.display = "block";
              this.formValido = 0;
            }
          } else if (id == "descripcionCel") {
            // debugger
            if (typeof req[0] != "undefined") {
              req[0].style.display = "block";
              this.formValido = 0;
            }
          }
        }
        // if (
        //   id == "detalle" &&
        //   this.$store.state.formData.clave == "" &&
        //   this.$store.state.formData.descripcion != ""
        // ) {
        //   // debugger
        //   this.warningView(idWarning, "block");
        //   this.formValido = 0;
        // }
        if (
          // this.$store.state.formData.clave != "" &&
          this.$store.state.formData.detalle == "" &&
          this.$store.state.formData.detalle == "" &&
          this.$store.state.formData.descripcion != ""
        ) {
          // debugger
          if (id == "detalle") {
            var req = document.getElementsByClassName(idWarning);
            if (typeof req[0] != "undefined") {
              req[0].style.display = "block";
              this.formValido = 0;
            }
          } else if (id == "subDescripcionCel") {
            // debugger
            if (typeof req[0] != "undefined") {
              req[0].style.display = "block";
              this.formValido = 0;
            }
          }
        }
        if (
          (id == "cp" && this.$store.state.formData.cp == "") ||
          this.cp.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "nombre" && this.$store.state.formData.nombre == "") ||
          this.nombre.search(/[0-9]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (id == "correo" && this.$store.state.formData.correo == "") {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "telefono" && this.$store.state.formData.telefono == "") ||
          this.telefono.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        }
        //demas campos
        var valor = elemento.value;
        if (
          valor == "" &&
          (idWarning == "marcaCelReq" ||
            idWarning == "modeloCelReq" ||
            idWarning == "descripcionCelReq" ||
            idWarning === "subDescripcionCelReq" ||
            idWarning == "edadReq" ||
            idWarning == "generoReq")
        ) {
          // debugger
          this.warningView(idWarning, "block");
          this.formValido = 0;
        }
      } else {
        // console.log("No existe el elemento con id " + id);
      }
    }, //FIN warningReq

    warningView: function (id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningView
    myTrim_start: function (x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim
    checkCaracter: function (caracter, tipo) {
      var regExp = "";
      if (tipo == "numero") {
        regExp = /[0-9]/;
      } else {
        regExp = /[A-Za-z\sñÑáéíóúÁÉÍÓÚ\s\t]/;
      }
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function (veces, valor, excepcion) {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result && valor != excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1, valor.length);
        return inicio + final;
      } else {
        return valor;
      }
    },
    expresionRegularFinal: function (regExp, valor, campo) {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningView(campo + "Inc", "none");
        this.warningReq(campo + "Req");
      } else {
        this.$store.state.formData[campo] = "";
        //Oculta advertencia REQUERIDO
        this.warningReq(campo + "Req");
        //Muestra advertecia INCORRECTO
        this.warningView(campo + "Inc", "block");
      }
    },
    space: function (valor) {
      // debugger
      let cadena = this[valor];
      let primero = cadena.search("@");
      let separado;
      let cad2 = "";
      // se le quita el ultimo
      if ([valor] == "correo") {
        if (primero) {
          separado = cadena.substring(primero + 1, cadena.length).split("@");
          separado.forEach((element) => {
            cad2 += element.replaceAll("@", "");
          });
        }
        cadena = cadena.substring(0, primero + 1) + cad2;
        cadena = cadena.split(" ").join(" ").trim();
        // elimina todos los espacios encontrados
        cadena = cadena.replace(/\s+/g, "");
      } else {
        // se le quita el ultimo espacio
        cadena = cadena.split(" ").join(" ").trim();
      }
      this[valor] = cadena;
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
